.login, .register {
  display: flex;

  .row {
    flex: 1;
    /* align-items: center; */
    justify-content: center;
  }

  .card {
    border-radius: .5rem;
    box-shadow: rgba(0, 0,0, .08) 3px 3px 10px 0px;
    padding: 2rem;

    .card-title {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    .card-subtitle {
      font-size: .85rem;
      color: #888;
      margin-bottom: 1rem;
    }

    .card-body {
      padding: 0;
    }
  }

  .google {
    background-color: #d1422b;
    border-color: transparent;

    &:hover {
      background-color: #bb3019;
      border-color: transparent;
    }
    
    &:active {
      background-color: #a22b17!important;
      border-color: transparent!important;
    }
  }

  .facebook {
    background-color: #3a62c7;
    border-color: transparent;

    &:hover {
      background-color: #254bb1;
      border-color: transparent;
    }

    &:active {
      background-color: #1a3b92!important;
      border-color: transparent!important;
    }
  }

  .login-with {
    margin: 1.25rem 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
  }
}